# Oracle Sankhya
ORACLE_USER=POWERBI
ORACLE_PASSWORD=sua_senha
ORACLE_DSN=192.168.1.55/ORCL

# MariaDB Central
MARIADB_HOST=192.168.1.22
MARIADB_PORT=3306
MARIADB_USER=antonio
MARIADB_PASSWORD=sua_senha
MARIADB_DB=dre_gestores
